<% layout("/layouts/boilerplate") %>
    <!-- success for cretaing new list a pop -up msg will show  -->

    <body>
        <style>
            .filters {
                margin-top: 1rem;

            }

            #filters {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .filter {
                text-align: center;
                margin-right: 2rem;
                margin-top: 2rem;
                opacity: 0.7;
            }

            .filter:hover {
                opacity: 1;
                cursor: pointer;
            }

            .filter p {
                font-size: 0.8rem;
            }

            .tax-info {
                display: none;
            }

            .tax-toggle {
                border: 1px solid black;
                border-radius: 1rem;
                height: 2.5rem;
                padding: 1rem;
                margin-left: 1rem;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            @media screen and (max-width: 1200px) {
                .responsive-icon-btn svg {
                    height: 10px;
                    width: 10px;
                    stroke-width: 4.5;
                }
            }

            @media screen and (max-width: 576px) {
                .responsive-icon-btn svg {
                    height: 8px;
                    width: 8px;
                    stroke-width: 3.5;
                }
            }
        </style>
        <div id="filters">
            <div class="filter">
                <div> <i class="fa-solid fa-fire"></i> </div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i> </div>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic cities</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-place-of-worship"></i></div>
                <p>Castels</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Swimming pools</p>
            </div>
            <div class="filter">
                <div></div><i class="fa-solid fa-tents"></i>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for (let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img"
                            style="height: 20rem" />
                        <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b><br />
                                &#8377; <%= listing.price %>/night
                                    <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
                                    <br>

                                    <span>
                                        <%= listing.location %>, <%= listing.country %>
                                    </span><br />
                                    <span>
                                        <%= listing.description %>
                                    </span>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckDefault");
            taxSwitch.addEventListener("click", () => {
                let taxinfo = document.getElementsByClassName("tax-info");
                for (info of taxinfo) {
                    if (info.style.display != "inline") {
                        info.style.display = "inline";
                    } else {
                        info.style.display = "none";

                    }
                }
            })
        </script>
    </body>